.header__header-cont{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 700px;
    margin-top: 100px;
    background-image: url("../../../assets/images/image1.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: background-image .3s;
}

.header-cont__banner{
    margin-left: 12.5%;
    display: block;
    font-family: var( --font-family-roboto);
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px var(--cr-black);
    color: var(--cr-white);
}

.header-cont__text{
    width: 40%;
    margin-top: 20px;
    margin-left: 12.5%;
    line-height: 30px;
    font-family: var( --font-family-roboto);
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px var(--cr-black);
    color: var(--cr-white);
}

.header-cont__more-info{
    position: absolute;
    top: 80%;
    left: 12.5%;
    min-width: 140px;
    max-width: 200px;
    padding: 15px 15px;
    font-family: var( --font-family-roboto);
    text-transform: uppercase;
    font-size: 2rem;
    background-color: var(--bd-cr-nav-light-mint);
    color: var(--cr-white);
    transition: all .3s;
}

.header-cont__more-info:hover{
    left: 13%;
    min-width: 150px;
    max-width: 210px;
    letter-spacing: 1px;
    transition: all .3s;
}

.header-cont__scroll-btn{
    position: absolute;
    top: 80%;
    right: 12.3%;
    width: auto;
    height: 20px;
}

.scroll-btn__btn{
    position: relative;
    width: 60px;
    height: 100%;
    background-color: var(--bd-cr-nav-grey);
    transition: background-color 1s;
}

.scroll-btn__btn:not(:last-child){
    margin-right: 20px;
}

._active-scroll-btn{
    background-color: var(--bd-cr-nav-light-mint);
    transition: background-color 1s;
}
