@media screen and (max-width: 1240px){
    .about-master-cont{
        flex-wrap: wrap;
    }

    .about-master-cont>img{
        position: absolute;
        bottom: 50%;
        left: 90px;
        transform: translateY(50%);
        width: 29%;
        height: auto;
        border-radius: 20px;
        box-shadow: 20px 10px 50px var(--bd-cr-gold);
    }

    .about-master-cont__content{
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 100%;
        padding: 20px 20px 20px 0px;
        margin: unset;
        border-top-right-radius: 20px;
        border-bottom-left-radius: unset;
        margin-bottom: 15px;
    }
    

    .about-master-cont__content h2{
        width: 50%;
        margin-right: 20px;
    }

    .about-master-cont__content p{
        margin-right: 20px;
        width: 50%;
    }

    .about-master-cont__certificate{
        align-items: end;
        width: 100%;
        border-top-right-radius: unset;
        border-bottom-left-radius:20px;
        background-color: var(--bd-cr-nav-light-grey);
    }

    .about-master-cont__certificate img{
        margin: 20px 40px 20px 0px;
    }
}

@media screen and (max-width: 1000px){
    .about-master-cont>img{
        left: 70px;
    }

    .about-master-cont__certificate img{
        width: 50%;
        height: auto;
    }
}

@media screen and (max-width: 800px){
    .about-master-cont>img{
        position: relative;
        bottom: unset;
        left: unset;
        transform: unset;
        margin: 20px auto 40px;
        width: 300px;
        border-radius: 20px;
        box-shadow: 20px 10px 50px var(--bd-cr-nav-grey);
    }



    .about-master-cont__certificate,
    .about-master-cont__content{
        align-items: center;
    }

    .about-master-cont__content{
        padding: 20px;
    }

    .about-master-cont__content h2{
        text-align: center;
        width: 85%;
        margin-right: unset;
    }

    .about-master-cont__content p{
        margin-right: unset;
        width: 85%;
    }

    .about-master-cont__certificate img{
        margin: 20px 0px;
        box-shadow: 20px 10px 50px var(--bd-cr-gold);
    }
}

@media screen and (max-width: 600px){
    .about-master-cont__certificate img{
        width: 75%;
        box-shadow: 0px 0px 30px var(--bd-cr-gold);
    }
}

@media screen and (max-width: 500px){
    .about-master-cont>img{
        width: 80%;
    }
    .about-master-cont{
        padding: 40px 0px;
    }
}